@import "tailwindcss";

/* 增加滚动条宽度 */
.n-scrollbar-rail {
  width: 12px !important;
}

.n-scrollbar-rail .n-scrollbar-scrollbar {
  width: 12px !important;
}

.n-scrollbar-rail .n-scrollbar-scrollbar .n-scrollbar-handle {
  min-width: 8px !important;
}

img {
  pointer-events: none;
}

.comic-viewer .n-scrollbar-rail__scrollbar {
}

/* 图片查看器样式 */
.viewer .n-scrollbar-rail__scrollbar {
  transform: translateX(-15px) !important;
  width: 18px !important;
  border-radius: 0px !important;
  background-color: rgba(189, 69, 119, 0.5) !important;
}

.viewer,
.viewer * {
  outline: none !important;
}

.viewer:focus,
.viewer:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
